/*
 * Theme Name: bitmedia
 *
 * Layout: Sidebar-Content
 *
 * Learn more: https://developer.wordpress.org/themes/basics/template-files/
*/

.site {
	display: grid;
	grid-template-columns: 25% auto;
	grid-template-areas:
		"header header"
		"sidebar main"
		"footer footer";
}
.site-header {
	grid-area: header;
}
.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}
.widget-area {
	grid-area: sidebar;
}
.site-footer {
	grid-area: footer;
}

.no-sidebar .content-area {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.no-sidebar .site-main {
	margin-right: 0;
}
