@import "sass/default"

.site-branding
  width: 100%
  padding-top: 24px
  font-size: 40px
  background: linear-gradient(92.09deg, #255D8B 2.29%, #3A80BA 96.79%)
  a
    color: #ffffff
    &:hover
      color: #ffffff
      text-decoration: none
.site-main
  .site-mobile
    background: url("img/Rectangle81.png") no-repeat
    background-size: contain
    color: #ffffff
    height: 580px
    .template-title
      margin-top: 48px
      font-size: 48px
      line-height: 59px
    .template-description
      margin-top: 24px
      font-size: 20px
    .template-button
      margin-top: 32px
      a
        color: #3A80BA
        padding: 17px 35px
        background-color: #ffffff
        font-size: 16px
        border-radius: 8px
        display: block
        width: 154px
        &:hover
          text-decoration: none
  .benefits
    .benefits-title
      font-size: 32px
      text-align: center
      line-height: 39px
    .benefits-description
      font-size: 20px
      text-align: center
      color: #7E7E7E
      margin: 24px 0 40px 0
    .benefit
      text-align: center
      padding: 48px 32px
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16)
      border-radius: 32px
      .benefit-image
        background: url("img/Vector.png") no-repeat
        background-position-x: center
        img
          margin: 15.7px 0 24.4px 0
      .benefit-name
        margin-top: 40px
        font-weight: 600
        font-size: 24px
      .benefit-description
        color: #7E7E7E
        font-size: 16px
        margin-top: 16px
        line-height: 142%
  .managing
    margin-top: 81px
    color: #ffffff
    background: linear-gradient(93.19deg, #255D8B 2.29%, #3A80BA 96.79%)
    .manage-title
      font-size: 32px
      font-weight: bold
      line-height: 39px
      margin-top: 90px
    .manage-description
      font-size: 16px
      margin-top: 16px
      line-height: 142%
    .manage-link
      margin: 24px 0 30px 0
      a
        font-size: 16px
        padding: 16px 64px
        color: #255D8C
        display: block
        width: 221px
        border-radius: 8px
        background-color: #ffffff
        &:hover
          text-decoration: none
    .managing-width
      padding: 0
      .managing-image
        position: absolute
        top: -25px
  .pricing-packages
    margin-top: 80px
    .pricing-title
      text-align: center
      font-size: 32px
      line-height: 39px
      p
        margin: 0
    .pricing-description
      text-align: center
      color: #7E7E7E
      font-size: 20px
      margin-top: 24px
    .price-block
      margin-top: 32px
      text-align: center
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16)
      border-radius: 32px
      padding: 32px 0 40px 0
      &:hover
        .price-cost
          color: #3A80BA
      .price-name
        font-weight: 600
        font-size: 24px
        line-height: 29px
        margin-bottom: 19px
      .price-cost
        font-weight: bold
        font-size: 48px
        line-height: 59px
        margin: 16px 0 48px 0
      .price-features
        ul
          margin: 0
          padding: 0
          li
            list-style-type: none
            font-size: 16px
            line-height: 162%
            color: #7E7E7E
      .price-button
        button
          background: #3A80BA
          border-radius: 8px
          color: #ffffff
          padding: 16px 52px
          font-size: 16px
          line-height: 142%
          margin-top: 24px
    .need-more
      font-size: 20px
      line-height: 142%
      color: #7E7E7E
      text-align: center
      margin-top: 32px
      a
        font-weight: bold
        color: #3A80BA
  .user-title
    font-weight: bold
    font-size: 32px
    line-height: 39px
  .user-stastic-block
    margin-top: 24px
    .user-statistic
      font-weight: bold
      font-size: 24px
      line-height: 29px
  .breadcrumbs-site
    margin: 16px 0 24px 0
    .breadcrumbs
      span
        font-size: 16px
        color: #CCCCCC
        &.breadcrumbs__current
          color: #3A80BA

.site-footer
  background: url("img/Rectangle54.png") no-repeat
  margin-top: 48px
  .form-footer
    margin-top: 26px
    input[type="email"]
      border: 1px solid #F1F1F1
      box-sizing: border-box
      border-radius: 10px
      width: 579px
      height: 64px
      padding-left: 19px
      &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder
        color: #B9B9B9
    .form-submit
      top: 33%
      position: absolute
      right: 25%
      background: #3A80BA
      border-radius: 8px
      color: #ffffff
      font-size: 16px
      line-height: 142%
      padding: 17px 48px
  .footer-design
    margin-bottom: 30px
    margin-top: 24px
    .footer-app
      font-size: 32px
      line-height: 39px
      color: #ffffff
      &:hover
        text-decoration: none
    .rights,.copyrights
      font-size: 16px
      color: #ffffff
.site-footer-page
  background: #1C3B55
  margin-top: 48px
  .footer-design
    margin-bottom: 30px
    margin-top: 24px
    .footer-app
      font-size: 32px
      line-height: 39px
      color: #ffffff
      &:hover
        text-decoration: none
    .rights,.copyrights
      font-size: 16px
      color: #ffffff

.users-pages
  .users-table-staff
    margin-bottom: 16px
    .users-title
      font-weight: bold
      font-size: 32px
      line-height: 39px
      p
        margin: 0
  .custom-table
    border: 1px solid #ffffff
    border-radius: 20px
    table
      border-collapse: collapse
      margin: 0
      td:first-child
        border-left: none
      td:last-child
        border-right: none
      tr:first-child>td
        border-top: none
      tr:last-child>td
        border-bottom: none
      .table-head
        background-color: #ffffff
        cursor: pointer
        td
          padding: 14px 0 14px 0
          background: #3A80BA
          font-size: 16px
          color: #ffffff
          text-align: center
          border: 1px solid #ffffff
      .table-body
        background: #FBFBFB
        &:hover
          outline: 2px solid #3A80BA
          cursor: pointer
        td
          text-align: center
          border-left: 1px solid #ffffff
          border-right: 1px solid #ffffff
          padding: 6px 0 6px 0
  .pagination-container
    margin-top: 24px
    .pagination
      margin: 0
      li
        padding: 14px 19px
        border: 2px solid #F1F1F1
        border-radius: 8px
        margin: 0 4px 0 4px
        color: #1A1A1A
        font-size: 16px
        &:hover
          background: #3A80BA
          color: #ffffff
          cursor: pointer
        i
          border: solid black
          border-width: 0 3px 3px 0
          display: inline-block
          padding: 3px
          &.right
            transform: rotate(-45deg)
            -webkit-transform: rotate(-45deg)
          &.left
            transform: rotate(135deg)
            -webkit-transform: rotate(135deg)
        &.prev, &.next
          border: none
      .active
        background: #3A80BA
        color: #ffffff

@media (max-width: 1024px)
  .site-main
    .site-mobile
      background-size: cover
    .managing
      .managing-width
        .managing-image
          position: relative
          top: 0
    .benefits
      .benefit
        .benefit-description
          font-size: 15px
  .site-footer
    .form-footer
      .form-submit
        right: 13%

@media (max-width: 768px)
  .site-main
    .pricing-packages
      .price-block
        .price-button
          button
            padding: 16px 30px
  .site-footer
    .form-footer
      .form-submit
        right: 3%

@media (max-width: 767px)
  .site-main
    .site-mobile
      height: 100%
      .template-button
        display: flex
        justify-content: center
        margin-bottom: 25px
    .benefits
      margin-top: 25px
      .benefit
        margin-bottom: 25px
    .managing
      .manage-title, .manage-description
        text-align: center
      .manage-link
        display: flex
        justify-content: center
    .pagination-container
      .pagination
        li
          padding: 14px 12px
  .site-footer
    .form-footer
      form, input[type="email"]
        width: 100%
    .footer-design
      margin-bottom: 15px
      .rights, .copyrights
        text-align: center
  .site-footer-page
    .footer-design
      .rights, .copyrights
        text-align: center


@media (max-width: 375px)
  .site-main
    .site-mobile
      .template-title
        font-size: 40px

